<form id = "tally" method = "get" action = "/tally">
<input id = "bigbutton" type = "submit" name = "bigbutton" value = "clicky!"/>
</form>
<form id = "red" method = "get" action = "/redarray" >
<p>red team</p>
<input id = "redstring" type = "text" name = "redteamnames" />
<input id = "redstring" type = "text" name = "redteampowers">
<input id = "redbutton" type = "submit" name = "button" />
</form>
<BR></BR>
<form id = "tally" method = "get" action = "/array">
<input id = "bigbutton" type = "submit" name = "button" value = "array">
</form>
<BR></BR>
<form id = "blue" method = "get" action = "/bluearray" >
<p>blue team</p>
<input id = "bluestring" type = "text" name = "blueteamnames" />
<input id = "bluestring" type = "text" name = "blueteampowers">
<input id = "bluebutton" type = "submit" name = "button" />
</form>




